<h1>About</h1>
<p>This could be a page that lists some of the service that are provided at the salon.  I could also create a gallery page with pictures of hair that has been done by stylists at the salon.  Also a page to show our stylists. .</p>
